.main {
    width: 800px;
    height: 550px;
    margin: 0 auto;
    border: 2px ridge gray;
    margin-top: 12px;
    background-color: rgb(185, 185, 185);
}

.head {
    text-align: center;
}

.scroll {
    border: 1px solid lightgray;
    margin: 0 auto;
    width: 700px;
    height: 420px;
    overflow: auto;
    background-color: lightgray;
}

@media screen and (max-width: 820px) {
    .main {
        width: 420px;
    }
    .scroll {
        width: 360px;
    }
}

@media screen and (max-width: 515px) {
    .main {
        width: 320px;
    }
    .scroll {
        width: 260px;
    }
}